<!-- About Section -->
    <section id="about" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Gary Sharpe</h2>
                    <h3 class="section-subheading text-muted">Our first annual Resident Innovator for the CFI</h3>
                </div>
            </div>
            <div class="row" style="max-width:800px;margin-left:auto;margin-right:auto;">
                
                    <div class="team-member">
                        <img src="/assets/img/gary/about-gary.jpg" class="img-responsive img-circle" alt="">
                        <h4>Gary Sharpe</h4>
                        <p class="text-muted">Xavier University MBA alum <BR> CEO of Health Care Logistics & Bricolage</p>
                    </div>
             
               
                    <p class="large text-muted lead">When the world zigs, Gary Sharpe zags. If someone says no, he says yes. Sell? Nope. Buy.</p>

<p class="large text-muted">
While such an opposing perspective may have taken its toll on the patience and blood pressure of his parents, looking at life through such a contrarian lens has definitely provided the 1973 MBA grad with a very clear vision of how to best negotiate the congested and cutthroat ways of the business world—and make a lot of money along the way.
</p>

<blockquote class="blockquote-reverse" style="padding-top:10px;padding-bottom:10px;margin-top:30px;margin-bottom:30px;"> <p style="font-size:26px;font-style:italic;color:#ff7900;">“I’ve been a contrarian my entire life”  <br>“I’m not sure how my parents put up with me.”</p><p><small>Gary Sharpe</small></p>
</blockquote>

<p class="large text-muted">
“The world does not run in straight lines,” he says, “so you’ve got to think differently. The way I see it, if the herd is going in one direction, there’s money to be made going in the other direction. Or as companies get bigger, there’s a whole bunch of stuff that is going to fall off their truck that you can make money on.”
</p>
<p class="large text-muted">
This combination of professional revelation and personal self-awareness became apparent to Sharpe early in his career, shortly after he graduated from Ohio State University with a bachelor’s degree in economic geography with a specialty in thematic cartography.
</p>
<p class="large text-muted">
Wait. A degree in what?
</p>
<p class="large text-muted">
Sharpe laughs. “There was one job in the world I was qualified for, and it was taken.”
</p>

<p class="large text-muted">
Still, armed with a degree and eager to get out in the real world and make his mark, he grabbed the first job that came his way—developing government contracts for Philips Electronics in its human pharmaceutical branch in Columbus, Ohio. The position reported directly to the CEO and was open for good reason. “It was the job no one wanted.”
</p>
<p class="large text-muted">
Sharpe took it and ran. After a few years, he approached his boss with an idea of how to grow the role: He repeatedly heard talk from his customers about products they needed to help them do their jobs but couldn’t find anyone who had them or could produce them.
</p>
<p class="large text-muted">
“Not interested,” his boss told him. “Just sell what we’ve got.”
</p>
<p class="large text-muted">
That wasn’t the answer Sharpe wanted to hear. Go with the flow? No way. And he couldn’t just let the opportunity to meet so many needs go unfulfilled.
</p>
<p class="large text-muted">
So he did what every good contrarian would do: He quit and went out on his own, creating Health Care Logistics, a one-man-enterprise headquartered in the spare bedroom of his house. “The garage was my warehouse,” he says. It didn’t take long, though, before the business was booming and the bedroom was too small.
</p>
<p class="large text-muted">
“I went on a sales call in Dayton, Ohio,” he says. “The director of purchasing was known to be really mean, and before my butt could hit the chair, he said, ‘OK, what are you selling?’ Sometimes I talk before I think, so I said, ‘What are you looking for that you can’t find?’ He told me. I said, ‘Give me a week. I’ll either find one or make one.’ It evolved from there.”
</p>
<p class="large text-muted">
Today, the company’s a multimillion-dollar enterprise with four warehouses in the United States and one in England, all filled with unique or hard-to-find health care products. Often new innovations make older products outdated, but not every hospital has the newest innovation and still needs to support the older technology. The massive product list includes a handful of products that Sharpe holds the patents on.
</p>
<p class="large text-muted">
“The patents are mostly defensive,” he says. “There have been a number of times I helped others create a product and then they would come back and undersell me. I got tired of that. But we’re always creating new products. We’ll get a customer’s request and create something. Or we’ll make a product on our own and throw it against the wall. If it sticks, it stays in the product line.”
</p>
<p class="large text-muted">
Sharpe’s love of innovation and entrepreneurship has prompted him to support the Critical Making Program, a new effort within the Williams College of Business that blends innovation with Ignatian values.
</p>
<p class="large text-muted">
He also endowed an academic scholarship at Xavier—not for the best and brightest, but for those who may not have the best GPA or SAT score coming out of high school but deserve a chance. A student, he says, like himself.
</p>
<p class="large text-muted">
“I graduated from high school with honors and an award in science,” he says, “but I was crappy at taking standardized tests. When I went to OSU’s orientation, I was told that I should drop out now because based on my test scores I would flunk out my first quarter or the spring quarter at the latest. I thought, ‘They have to take me, so I’m staying.’”
</p>
<p class="large text-muted">
He stayed, of course. What else would a contrarian do? And he’s been proving to them and everyone since that success sometimes comes from the other direction. </p>
                </div>
        </div>
    </section>
