 <!--<script src="/assets/js/app.js"></script>-->

<!-- Bootstrap Core JavaScript -->
<script src="/assets/myJS/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="/assets/myJS/jquery.easing.min.js"></script>
<script src="/assets/myJS/classie.js"></script>
<script src="/assets/myJS/cbpAnimatedHeader.js"></script>

<!-- Contact Form JavaScript -->
<script src="/assets/myJS/jqBootstrapValidation.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/assets/myJS/agency.js"></script>

<!-- Icon Wiggle jQuery -->
<script src="/assets/myJS/jquery.classywiggle.min.js"></script>
