<!-- Lectures Section -->
    <section id="lectures" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Lectures</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
                 <div class="col-lg-12">
                    <ul class="timeline">
                        {% for post in site.posts %}
                        {% if post.categories contains 'lectures' %}
                        <li>
                            <div class="timeline-image">
                                <img src="/assets/img/lectures/{{ post.thumbnail }}" class="img-circle img-responsive" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>{{ post.lecture-date }}</h4>
                                    <h4 class="subheading">{{ post.title }}</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">{{ post.description }}</p>
                                </div>
                                <div>
                                    <a href="{{ post.register-link }}"<button class="btn btn-success">REGISTER</button></a> 
                                    <a href="#portfolioModal{{ post.lecture-id }}" class="portfolio-link" data-toggle="modal"><button class="btn btn-info">DISCUSS</button></a>
                                </div>
                            </div>
                        </li>
                        {% endif %}
                        {% endfor %}
                        <li class="timeline-inverted">
                            <a href="#contact"><div class="timeline-image">
                                <h4>Submit
                                    <br>an
                                    <br>idea</h4>
                            </div></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/assets/img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>February 3, 2016</h4>
                                    <h4 class="subheading">Imagination is More Important than Knowledge</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I'll be giving a brief presentation in which I’ll share my thoughts regarding innovation, imagination, and what it takes to build and create two successful multi-million dollar companies.</p>
                                </div>
                                <div>
                                    <button class="btn btn-success">REGISTER</button> <button class="btn btn-info">DISCUSS</button>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/assets/img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 2016</h4>
                                    <h4 class="subheading">Laudantium Consectetur!</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                                 <div>
                                    <button class="btn btn-success">REGISTER</button> <button class="btn btn-info">DISCUSS</button>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <a href="#contact"><div class="timeline-image">
                                <h4>Submit
                                    <br>an
                                    <br>idea</h4>
                            </div></a>
                        </li>
                    </ul>
                </div>
            </div>
        -->
        </div>
    </section>
