---
layout: default
---

<!--Start Topics Page
{% for post in site.posts %}
{% if page.categories contains 'topics' %}
<div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ page.title }}</h2>
                            <hr class="star-primary">
                            <img src="/assets/img/{{ page.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                            <p>{{ page.description }}</p>
                            <article class="post">
                            <p>{{ content }}</p>
                            </article>
                        </div>
                    </div>
                </div>
                {% include comments.html %}
            </div>
{% endif %}
{% endfor %}
-->

<!--Or Start Lectures Page-->

<div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ page.title }}</h2>
                            <hr class="star-primary">
                            <img src="/assets/img/{{ page.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                            <p>{{ page.description }}</p>
                            <ul class="list-inline item-details">
                                <li>Speaker:
                                    <strong>{{ page.speaker }}
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong>{{ page.lecture-date }}
                                    </strong>
                                </li>
                            </ul>
                            <article class="post">
                            <p>{{ content }}</p>
                            </article>
                        </div>
                    </div>
                </div>
                {% include comments.html %}
            </div>
